body {
    // background: lightyellow;
    background-color: black;
    .parallax {
        height: 2500px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
    
    .parallax-layer {
        position: absolute;
        top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // padding: 100vh 0;   /*add padding to force the scroll bars */
    }

    .white {
        background-color: white;
    }
    
    div#woman-container {
        width: 100px;
        margin: 0px auto;
        overflow-y: hidden;
        #woman {
            position: fixed;
            @include imageNoRepeat("../img/Falling.png");
            background-position: center top;
            display: block;
            top: 200px;
            width: 100px;
            height: 100px;
            z-index: 2;
        }
    }
    
    #moon {
        // transform: translateZ(0px);  /*this controls the element's depth*/
        @include imageNoRepeat("../img/moon.png");
        // background-color: pink;
        width: 400px;
        height: 400px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 10vh 0px;
        z-index: 3;
    }
    
    
    #spires-back {
        @include imageXRepeat("../img/spires_back.png");
        height: 1900px;
        width: 100%;
        top: 600px;
        z-index: -1;
    }
    
    #spires-mid1 {
        @include imageXRepeat("../img/spires_mid1.png");
        height: 1800px;
        width: 100%;
        top: 700px;
        z-index: -1;
    }
    
    #spires-mid2 {
        @include imageXRepeat("../img/spires_mid2.png");
        height: 1200px;
        width: 100%;
        top: 1350px;
        z-index: -1;
    }
    
    #spires-front {
        @include imageXRepeat("../img/spires_front.png");
        background-size: cover;
        height: 910px;
        width: 100%;
        top: 1600px;
        z-index: -1;
        // background-color: pink;
        // opacity: 0.24;
    }
    
    #stars-front-small {
        @include imageXRepeat("../img/stars_front.png");
        height: 1200px;
        width: 100%;
        top: 400px;
        z-index: 3;
    }
    
    #stars-front-small {
        @include imageXRepeat("../img/stars_front.png");
        height: 1200px;
        width: 100%;
        top: 600px;
        background-size: auto;
        z-index: 3;
    }

    div.white {
        height: 518px;
        .tunnel-container {
            width: 200px;
            height: 578;
            position: relative;
            margin: 0px auto;
            .hole1 {
                @include imageNoRepeat("../img/hole.png");
                height: 39px;
                top: 0px;
                z-index: 1;
            }
            .tunnel {
                @include imageNoRepeat("../img/tunnel.png");
                height: 500px;
                // background-color: pink;
                top: 19px;
                z-index: 3;
            }
            .hole2 {
                @include imageNoRepeat("../img/hole.png");
                height: 39px;
                top: 500px;
                z-index: 1;
            }
            .tunnel-layer {
                position: absolute;
                width: 200px;
            }
        }
       
    }
    .tunnel-inside {
        height: 2406px;
        position: relative;
        #tunnel-front-right {
            @include imageNoRepeat("../img/tunnel_front.png");
            transform: scaleX(-1);
            height: 2406px;
            width: 588px;
            position: absolute;
            top: 0px;
            right: 0px;
        }
        #tunnel-front-left {
            @include imageNoRepeat("../img/tunnel_front.png");
            height: 2406px;
            position: absolute;
            width: 588px;
            top: 0px;
            left: 0px;
        }
    }

   

}




