body {
    // background: lightyellow;
    background-color: black;
    .parallax {
        height: 1800px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
    
    .parallax-layer {
        position: absolute;
        top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // padding: 100vh 0;   /*add padding to force the scroll bars */
    }

    .white {
        background-color: white;
    }
    
    div#woman-container {
        width: 100px;
        margin: 0px auto;
        overflow-y: hidden;
        #woman {
            position: fixed;
            @include imageNoRepeat("../img/Falling.png");
            background-position: center top;
            display: block;
            top: 200px;
            width: 100px;
            height: 100px;
            z-index: 2;
        }
    }
    
    #moon {
        // transform: translateZ(0px);  /*this controls the element's depth*/
        @include imageNoRepeat("../img/moon.png");
        // background-color: pink;
        width: 400px;
        height: 400px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 10vh 0px;
        z-index: 3;
    }
    
    
    #spires-back {
        @include imageXRepeat("../img/spires_back.png");
        height: 1900px;
        width: 100%;
        top: 750px;
        z-index: -1;
    }
    
    #spires-mid1 {
        @include imageXRepeat("../img/spires_mid1.png");
        height: 1800px;
        width: 100%;
        top: 1000px;
        z-index: -1;
    }
    
    #spires-mid2 {
        @include imageXRepeat("../img/spires_mid2.png");
        height: 1200px;
        width: 100%;
        top: 2000px;
        z-index: -1;
    }
    
    #spires-front {
        @include imageXRepeat("../img/spires_front.png");
        background-size: cover;
        height: 2000px;
        width: 100%;
        top: 5800px;
        z-index: -1;
        // background-color: pink;
        // opacity: 0.24;
    }
    
    #stars-front-small {
        @include imageXRepeat("../img/stars_front.png");
        height: 1200px;
        width: 100%;
        top: 400px;
        z-index: 3;
    }
    
    #stars-front-small {
        @include imageXRepeat("../img/stars_front.png");
        height: 1200px;
        width: 100%;
        top: 600px;
        background-size: auto;
        z-index: 3;
    }
    #extra-white {
        background-color: white;
        height: 0px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }

    div.white {
        height: 518px;

        .tunnel-container {
            width: 200px;
            height: 578;
            position: relative;
            margin: 0px auto;

            .hole1 {
                @include imageNoRepeat("../img/hole.png");
                height: 39px;
                top: -3px;
                z-index: 1;
            }

            .tunnel {
                @include imageNoRepeat("../img/tunnel.png");
                height: 500px;
                // background-color: pink;
                top: 16px;
                z-index: 3;
            }

            .hole2 {
                @include imageNoRepeat("../img/hole.png");
                height: 39px;
                top: 495px;
                z-index: 1;
            }

            .tunnel-layer {
                position: absolute;
                width: 200px;
            }
        } 
    }

    .tunnel-inside {
        height: 2406px;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;

        #tunnel-front-right {
            @include imageYRepeat("../img/tunnel_front.png");
            transform: scaleX(-1);
            height: 2406px;
            width: 588px;
        }

        #tunnel-front-left {
            @include imageYRepeat("../img/tunnel_front.png");
            height: 2406px;
            width: 588px;
        }

        #tunnel-mid2-right {
            @include imageYRepeat("../img/tunnel_mid2.png");
            transform: scaleX(-1);
            width: 442px;
            height: 5000px;
            right: 0px;
        }

        #tunnel-mid2-left {
            @include imageYRepeat("../img/tunnel_mid2.png");
            width: 442px;
            height: 5000px;
            left: 0px;
        }

        #tunnel-mid1-right {
            @include imageYRepeat("../img/tunnel_mid1.png");
            transform: scaleX(-1);
            height: 4000px;
            width: 536px;
            right: 0px;
            top: -1000px;
        }

        #tunnel-mid1-left {
            @include imageYRepeat("../img/tunnel_mid1.png");
            width: 536px;
            height: 4000px;
            left: 0px;
            top: -1000px;
        }

        #tunnel-back-right {
            @include imageYRepeat("../img/tunnel_back.png");
            transform: scaleX(-1);
            width: 606px;
            height: 4000px;
            right: 0px;
        }

        #tunnel-back-left {
            @include imageYRepeat("../img/tunnel_back.png");
            width: 606px;
            height: 4000px;
            left: 0px;
        }

        .inside-tunnel {
            height: 2406px;
            position: absolute;
            top: 0px;
        }
    }

    div#second-tunnel {
        .tunnel-container {
            top: -15px;
        }
    }

    div#reverse-top {
        #spires-front-bottom {
            @include imageXRepeat("../img/spires_front.png");
            transform: scaleY(-1);
            background-size: cover;
            height: 910px;
            width: 100%;
            top: 0px;
            z-index: -1;
        }

        #stars-front-bottom {
            @include imageXRepeat("../img/stars_front.png");
            transform: scaleY(-1);
            height: 1200px;
            width: 100%;
            top: 0px;
            background-size: auto;
            z-index: 3;
        }

        #stars-front-small-bottom {
            @include imageXRepeat("../img/stars_front.png");
            transform: scaleY(-1);
            height: 1200px;
            width: 100%;
            top: 150px;
            z-index: 3;
        }

        #spires-mid2-bottom {
            @include imageXRepeat("../img/spires_mid2.png");
            transform: scaleY(-1);
            height: 1200px;
            width: 100%;
            top: 0px;
            z-index: -1;
        }

        #spires-mid1-bottom {
            @include imageXRepeat("../img/spires_mid1.png");
            transform: scaleY(-1);
            height: 1800px;
            width: 100%;
            top: 0px;
            z-index: -1;
        }

        #spires-back-bottom {
            @include imageXRepeat("../img/spires_back.png");
            transform: scaleY(-1);
            height: 1900px;
            width: 100%;
            top: 0px;
            z-index: -1;
        }

        #moon-bottom {
            @include imageNoRepeat("../img/moon.png");
            width: 400px;
            height: 400px;
            position: absolute;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%) scaleY(-1);
            padding: 10vh 0px;
            z-index: 3;
        }
    }
}




