//This is for page layout including the grid and flex

//mobile grid
body#grid-wrapper {
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
    'header'
    'navigation'
    'main'
    'side'
    'foot';
}

// 1st breakpoint
@media only screen and (min-width: 800px) {
    body#grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4, 200px);
        grid-template-areas:
        'header header'
        'navigation main'
        'side main'
        'foot foot';
    }
}

// 2nd breakpoint
@media only screen and (min-width: 1200px) {
    body#grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(4, 200px);
        grid-template-areas:
        'header header navigation'
        'side main main'
        '. main main'
        '. foot foot';
    }
}

//third breakpoint
@media only screen and (min-width: 1600px) {
    body#grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
        grid-template-areas:
        'header header header header'
        'nav main side foot';
    }
}

//grid area definitions

header#header-content {
    grid-area: header;
}

nav#nav-content {
    grid-area: navigation;
}

main#main-content {
    grid-area: main;
}

aside#sidebar {
    grid-area: side;
}

footer#foot {
    grid-area: foot;
}