@mixin box($c) {
    background-color: $c;
}

@mixin imageNoRepeat($path) {
    background-image: url($path);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@mixin imageXRepeat($path) {
    background-image: url($path);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
}

@mixin imageYRepeat($path) {
    background-image: url($path);
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
}